<div class="container">
  <div class="row">
    <h1><%= @category.nom %></h1>
    <p>Image :
      <% if @category.image.attached? %>
        <%= image_tag @category.image %>
      <% end %>
    </p>
    <p>
      Couleur : <%= @category.background_color %>
    </p>
    <%= link_to "Retour", categories_path %>
  </div>
</div>
